@model Project13__2008_2010_Xbox_games_.Models.Game
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "2004-2010 Xbox Games";

}


    <div>

        <h4>@Model.Title</h4>
        <img src="~/Images/@Model.CoverImagerFileName" />
    </div>

