@model Project13__2008_2010_Xbox_games_.Models.Game[]
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    ViewBag.Title = "2005-2010 Xbox Games";

}


@foreach (var game in Model)
{
    <div>
        @game.Title
    </div>
}


