@
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
   
}
    <div>
                <p>HELLO, THIS IS MY INDEX HOME PAGE. Welcome @ViewBag.Name </p>
        
                @if(ViewBag.GroceryList.Length > 0)
                {
                    <p>This is my grocery list:</p>
                    <ul>
                        @foreach(var item in ViewBag.GroceryList)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }

    </div>

