@{
    Layout = null;
    string name = "Chris";
    string[] groceryList = new string[] { "Apples","Oranges","Bananas"};
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
                <p>HELLO, THIS IS MY INDEX HOME PAGE. Welcome @name </p>
        
                @if(groceryList.Length > 0)
                {
                    <p>This is my grocery list:</p>
                    <ul>
                        @foreach(var item in groceryList)
                        {
                            <li>@item</li>
                        }
                    </ul>
                }

    </div>
</body>
</html>
