@{
    Layout = null;
    string name = "Chris";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
                <p>HELLO, THIS IS MY INDEX HOME PAGE. Welcome @name </p> 

    </div>
</body>
</html>
